<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>fabien.servlets.Inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>fabien.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscription1</servlet-name>
        <servlet-class>fabien.servlets.Inscription1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeEcrivain</servlet-name>
        <servlet-class>fabien.servlets.ListeEcrivain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertionEcrivain</servlet-name>
        <servlet-class>fabien.servlets.InsertionEcrivain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuppressionEcrivain</servlet-name>
        <servlet-class>fabien.servlets.SuppressionEcrivain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificationEcrivain</servlet-name>
        <servlet-class>fabien.servlets.ModificationEcrivain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>fabien.servlets.Deconnexion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscription1</servlet-name>
        <url-pattern>/Inscription1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeEcrivain</servlet-name>
        <url-pattern>/ListeEcrivain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertionEcrivain</servlet-name>
        <url-pattern>/InsertionEcrivain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuppressionEcrivain</servlet-name>
        <url-pattern>/SuppressionEcrivain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificationEcrivain</servlet-name>
        <url-pattern>/ModificationEcrivain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Insertion</servlet-name>
        <servlet-class>Sitraka.servlet.Insertion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Supprimer</servlet-name>
        <servlet-class>Sitraka.servlet.Supprimer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modifier</servlet-name>
        <servlet-class>Sitraka.servlet.Modifier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Insertion</servlet-name>
        <url-pattern>/Inserer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Supprimer</servlet-name>
        <url-pattern>/Supprimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modifier</servlet-name>
        <url-pattern>/Modifier</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Insererlivre</servlet-name>
        <servlet-class>Antonio.Servlet.Insererlivre</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Insererlivre</servlet-name>
        <url-pattern>/Insererlivre</url-pattern>
    </servlet-mapping>
    
    
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
